body {
  background-color:rgb(148, 137, 128);
}

.sidebar {
  float: left;
  background-color: rgb(221, 160, 111);
  height: 200px;
  border: 5px solid black;
  margin: 20px;
  padding: 5px;
}

.intro {
  font-family: cursive;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 10px;
}

.columns {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

